// Align mixin

@mixin align($horizontal, $vertical) {
    @if $horizontal == 'c' and $vertical == 'c' {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } @else if $horizontal == 'l' and $vertical == 't' {
        top: 0;
        left: 0;
    } @else if $horizontal == 'c' and $vertical == 't' {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    } @else if $horizontal == 'r' and $vertical == 't' {
        top: 0;
        right: 0;
    } @else if $horizontal == 'l' and $vertical == 'c' {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    } @else if $horizontal == 'r' and $vertical == 'c' {
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    } @else if $horizontal == 'l' and $vertical == 'b' {
        bottom: 0;
        left: 0;
    } @else if $horizontal == 'c' and $vertical == 'b' {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    } @else if $horizontal == 'r' and $vertical == 'b' {
        bottom: 0;
        right: 0;
    }
}
