/* [assets|variables] Global variables */

// Breakpoints for media queries
$breakpoints: (
	'mobile-s': 320,
	'mobile-l': 480,
	'tablet-s': 768,
	'tablet-l': 1050,
	'desktop-s': 1280,
	'desktop-m': 1600,
	'desktop-l': 1920,
);

// Paddings for grid
$pad-mobile-s: 20px;
$pad-mobile-l: 25px;
$pad-tablet-s: 30px;
$pad-tablet-l: 40px;
$pad-desktop-s: 50px;
$pad-desktop-m: 60px;
$pad-desktop-l: 80px;
