/* [assets|theme] Theme styles */

// Colors list
$white: #fafafa;
$black: #101010;
$vue-blue: #35495e;
$vue-green: #3b8070;

// Theme setting
$base-color: $black;
$contrast-color: $white;
$accent-color: $vue-blue;

body, html {
	color: $contrast-color;
	background-color: $base-color;
}
