/* [assets|theme] Theme styles */

// Colors list
$white: #f7f7f7;
$black: #101010;
$bluewood: #35495e;
$viridian: #3b8070;

// Theme setting
$base-color: $white;
$contrast-color: $black;
$accent-color: $bluewood;
