/* [assets|theme] Theme styles */

// Colors list
$white: #fafafa;
$black: #101010;
$theme-transition: 0.25s;

.__app.--dark {
	--contrast-color: #fafafa;
	--primary-color: #101010;
}

.__app.--light {
	--contrast-color: #101010;
	--primary-color: #fafafa;
}

.__app {
	color: var(--contrast-color);
	background-color: var(--primary-color);
}
