/* [components|organisms] Cursor --- styles */

$cursor-size: 16px;

* {
	cursor: none;
}

.O-cursor {
	position: fixed;
	z-index: 10000;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	opacity: 0;
	user-select: none;
	pointer-events: none;
	mix-blend-mode: difference;
	
	&__circle {
		position: absolute;
		@include align(c,c);
		width: $cursor-size;
		height: $cursor-size;
		border-radius: 50%;
		background-color: #fff;
	}
	
}
