/* [components|the] HeaderNavItem --- styles */

.A-navigation__item {
	text-decoration: none;
	margin-right: $header-nav-space;
	font-size: $header-font-size;
	font-weight: $header-font-weight;
	line-height: $header-height;
	text-transform: lowercase;
}
