/* [layouts] All --- styles */

.__page {
	text-align: center;
}

.container {
	margin: 0 auto;
	padding-top: 120px;
}

.container-center {
	margin: 0 auto;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
