/* [pages] Home --- styles */

.title {
	display: block;
	padding: rem-from-px(16) 0;
	margin: 0;
	font-size: rem-from-px(48);
	font-weight: 600;
	color: $accent-color;
}

.subtitle {
	font-size: rem-from-px(32);
	font-weight: 300;
	color: lighten($accent-color, 20);
	margin: 0;
	padding: 0 0 rem-from-px(24) 0;
}

.links {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding-top: rem-from-px(16);
	
	.base--button-link {
		margin-left: rem-from-px(16);
	}
}
