/* [pages] Home --- styles */

.title {
	display: block;
	padding: 16px 0;
	margin: 0;
	font-size: 48px;
	font-weight: 600;
	color: $accent-color;
	letter-spacing: 1px;
}

.subtitle {
	font-size: 32px;
	font-weight: 300;
	color: lighten($accent-color, 20);
	word-spacing: 5px;
	margin: 0;
	padding: 0 0 24px 0;
}

.links {
	padding-top: 15px;
}
