/* [pages] Home --- styles */

.title {
	display: block;
	padding: rem-from-px(16) 0;
	margin: 0;
	font-size: rem-from-px(48);
	font-weight: 600;
	color: $accent-color;
	
	@include respond-mobile(s) {
		padding: rem-from-px(12) 0;
		font-size: rem-from-px(36);
	}
}

.subtitle {
	font-size: rem-from-px(32);
	font-weight: 300;
	color: lighten($accent-color, 20);
	margin: 0;
	padding: 0 0 rem-from-px(24) 0;
	
	@include respond-mobile(s) {
		@include column(3,4);
		padding: 0 0 rem-from-px(12) 0;
		font-size: rem-from-px(24);
		margin: 0 auto;
	}
}

.links {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding-top: rem-from-px(16);
	
	.base--button-link {
		margin-left: rem-from-px(16);
		
		@include respond-mobile(s) {
			margin-left: 0;
			
			&:nth-child(1) { @include column(1,3); }
			&:nth-child(2) { @include column(1,3); margin-left: rem-from-px(16); }
			&:nth-child(3) { margin-top: rem-from-px(16); }
		}
	}
}
