.title {
	margin: 0;
	text-align: center;
}

.img {
	height: 250vh;
	margin: 1rem 0;
	background: center center no-repeat;
	background-size: cover;
}

.hero {
	height: 75vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
