/* [components|the] HeaderLogo --- styles */

.header__logo {
	height: rem-from-px(28);
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
	color: black;
	
	&__img {
		height: 100%;
	}
	
	&__caption {
		font-size: rem-from-px(24);
		font-weight: 600;
		margin-left: 8px;
		color: $accent-color;
	}
}
